{% import 'reference.html' as reference with context %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.js" integrity="sha384-g7c+Jr9ZivxKLnZTDUhnkOnsh30B4H0rpLUpJ4jAIKs4fnJI+sEnkvrMWph2EDg4" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/contrib/auto-render.min.js" integrity="sha384-mll67QQFJfxn0IYznZYonOWZ644AWYC+Pt2cHqMaRhXVrursRwvLnLaebdGIlYNa" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <a href="index.html">Home</a>
    <hr>
    {% block body %}{% endblock %}
    <hr>
    Wrong or missing data? Suggestions? <a href="https://gitlab.com/proofcomplexityzoo/zoo">https://gitlab.com/proofcomplexityzoo/zoo</a><br>
    This is a proof of concept; missing data may indicate either the information was not yet recorded or an open problem.
  </body>
</html>
