{% macro reference(sources) %}
      {% if sources is defined %}
      <ul>
        {% for source in sources %}
        <li>Source: {{source}}
          {% if papers[source] is defined %}
          <a href="{{papers[source].url}}">
            {{papers[source].title}}
          </a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
{% endmacro %}
